# PROD docker compose script

services:
  hop-service:
    image: yurl:2025.1
    build: .
    container_name: hop-service
    volumes:
      # Mount SQLite file into container at /data/db.sqlite
      - sqlite-data:/data
    environment:
      DB_URL: "jdbc:sqlite:/data/db.sqlite"
      VALKEY_HOST: "hop-cache"
      VALKEY_PORT: "6379"
      # NOTE: No longer used, comment left as example
      # API_KEY: ${API_KEY}
      # NOTE: Will be added on Coolify as env variable
      BASE_PATH: ${BASE_PATH}

    # hardening
    security_opt:
      - "no-new-privileges=true"
    restart: on-failure:5
    cpus: '0.5'
    mem_limit: 512m

    # orchestration
    depends_on:
      hop-cache:
        condition: service_healthy

  hop-cache:
    image: "valkey/valkey:8-alpine"
    container_name: hop-cache
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 20s
      retries: 3
    command: |
      valkey-server --save "" 
          --appendonly no
          --maxmemory 256mb 
          --maxmemory-policy allkeys-lru

volumes:
  sqlite-data:
